<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xigua.p2p">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <service
            android:name="com.xigua.p2p.P2PService"
            android:label="P2P服务"
            android:process=":p2p" />

        <provider
            android:name="com.xigua.p2p.XiguaProvider"
            android:authorities="${applicationId}.autosize-init-provider"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>
